.sponsorCard{
    width: 175.84px;
height: 123.33px;
background: #335649;
border-radius: 30px;
// display: flex;
// align-items: center;
margin: 15px;
// display: flex;
// justify-content: center;
// align-items: center;
}
.cardImg{
    height: 115px;
    width:115px;
}