
.sponsors{
    background-color: rgba(46, 68, 60, 1);
    background-attachment: fixed;
    overflow-x: hidden;
}
.headingSponsors{
    display: flex;
    justify-content: space-between;
    background: #F5EBB5; 
    color: #F5EBB5;
    font-family: Reuben;
    
}
.colorBar{
    width: 138px;
    height: 57px;
    background: #F5EBB5; 
}
.headText{
    display: flex;
    justify-content: center;
    background: #F5EBB5;
    font-size: 72px;
    padding: 0;
    margin: 0;
    background-color: rgba(46, 68, 60, 1);
    padding: 0 1rem 0 1rem;
    display: flex;
    text-align: center;
    width: 70vw;
}
.slider{
    height:250px;
    margin:auto;
    position: relative;
    width:100vw;
    display: grid;
    place-items: center;

}
.slide-track{
    display: flex;
    width:calc( 195.84px*20);
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(calc(-250px*5))
    }
}
@media (max-width: 1200px){
    .headText{
        font-size: 50px;
    }
}
@media (max-width: 960px){
    .headText{
        font-size: 40px;
    }
}
@media (max-width:785px){
    .headText{
        text-align: center;
    }
}