

.NavAll{
// background-color: inherit;
background-color: rgba(46, 68, 60, 1);
// display: flex;
// justify-content: center;
padding : 3rem;

}
.Navbar{
    // margin: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 0.5rem;
}
.Logo{
    width:12rem;
    height: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.95rem;
    background: #040F0E;
    width: 90%;
    height: 4.5rem;
    border-radius:12px;
    color:#FFFFFF;
}
.navContent1{
    display:flex;
    justify-content: space-between;
    width: 16rem;
    font-family: Reuben;
    font-weight: 500;
    align-items: center;
    color:#FFFFFF;
}
.navContent2{
    display: flex;
    flex-direction: column;
    border: #FFFFFF;
    align-items: center;
    justify-content: center;
    background: #040F0E;
    color:#FFFFFF;
    width: 90%;
    border-radius:12px;
    font-family: Reuben;
}
.navButton{
    height:1rem;
}
.navButton{
    display: flex;
    align-items: center;
    font-family: Reuben;
    justify-content: space-between;
    width:12rem;
    padding-right: 0.8rem;
    color: #FFFFFF;
}
.regButton{
    font-family: Reuben;
    color:#FFFFFF;
    padding: 0.5rem 1rem;
    gap: 8px;
    background: #EA662F;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
}

.navButton2{
    background-color: #040F0E;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    height: 3rem;
    cursor: pointer;
    align-items: center;
}
.bottomBorder{
    border-bottom: 1px solid gray;
}
.nav2{
    display: flex;
    justify-content: center;
    padding:0px 34px 0px 34px;
    margin-bottom: 0.3rem;
}
.regButton2{
    text-decoration: none;
    font-family: Reuben;
    letter-spacing: 1px;
    background: #EA662F;
    font-family: 'Anton', sans-serif;
    color:#FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    height: 3rem;
    cursor: pointer;
    font-size: 20px;
}
.hamBtn{
    margin-right: 1rem;
    height: 2rem;
    cursor: pointer;
}
.textBtn{
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
     color:#FFFFFF;
}
.navButton2:hover{
    background-color:  #7B8382;
    color:#EA662F;
}
.regButton2:hover,.regButton:hover{
    background-color: #FFFCEB;
    color: #1E1E1E;
}
.textBtn:hover{
    color: #EA662F;
}
@media (max-width: 840px){
    .Logo{
        width:6rem;
    }    
    .navButton{
        width:11rem;
    }
    .logo{
        width:5rem;
    }
    .Nav{
        height: 3.5rem;
    }
    .hamBtn{
        height: 1.8rem;
    }
    .regButton{
        padding: 0.3rem 1rem;
    }
}
@media (max-width: 706px){
    .navContent1,.navButton{
        display: none;
    }  
    .regButton{
        font-size: 1rem;
    }
    .Navbar{
        width: 100%;
        margin: 0;
        margin-bottom: 0.3rem;
    }
    .navContent2{
        width: 100%;
        padding: 0;
    }
   
}
@media (min-width: 706px){
    .hamBtn{
        display:none;
    }
    .navContent2{
        display: none;
    }
}
a{
    text-decoration: none;
}
