.card{
    margin: auto;
    margin: 20px 20px;
    height: 220px;
    width: 200px;
    background-color: #F5EBB5;
    display: flex;
    align-items: end;
    border-radius: 16px;
    border: 3px solid #1A2D26;
}
.card-name{
    font-family: Reuben;
    letter-spacing: 1px;
    height: 50px;
    width: 100%;
    background-color: #1A2D26;
    color: #FFFCEB;
    line-height: 2px;
    border-radius: 0 0 12px 12px;
}
.card-name p{
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}
