.event-cards{
    background-color:  rgba(46, 68, 60, 1);
}

.cards{
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    width: 90%;
}

.all{
    padding: 0rem 3rem 3rem;
}

@media(max-width:1033px){
    .all{
        display: flex;
        justify-content: center;
    }
    .cards{
        margin: auto;
        width: 800px;
        grid-template-columns: 4fr 4fr 4fr;
    }
}
@media(max-width:825px){
    .all{
        display: flex;
        justify-content: center;
    }
    .cards{
        margin: auto;
        width: 500px;
        grid-template-columns: 6fr 6fr;
    }
}
@media(max-width:501px){
    .all{
        display: flex;
        justify-content: center;
    }
    .cards{
        width: 250px;
        grid-template-columns: 12fr;
    }
}