@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@500&family=Roboto:wght@100&display=swap');
.profileContainer{
    background-color: rgb(46, 68, 60);
    padding: 3rem 3rem 2rem 3rem;
}

.userImg{
    width: 120px;
    height: 140px;
    
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileCard{
    display: flex;
    justify-content: left;
    padding: 0rem 0rem 2rem;
    width: 90%;
}
.profileImg{
    background: #F5EBB5;
    border-radius: 12px;
    width: 169px;
    height: 169px;
    display: flex;
    justify-content: center;align-items: center;
}
.userName{
    color: #F5EBB5;
    font-size: 24px;
    font-family: Reuben;
}
.detailBox{
    display: flex;
    justify-content: left;
    padding-top: 3rem;
}
.detail{
    width:20rem;
}
.userDetail{
    color: #FFFFFF;
    padding-left: 5rem;

}
.detailHeading{
    color: #537568;

}
.eventHeading{
    color: #F5EBB5;
    font-size: 24px;
    font-family: Reuben;
    padding: 3rem 0rem 1rem;
    width: 90%;
    margin: auto;
}

@media (max-width: 1370px){
    .detail{
        width:15rem;
    }
}
@media (max-width: 1135px){
    .detail{
        width:13rem;
    }
}
@media (max-width:1040px){
    .profileCard{
        flex-direction: column;
    }
    .userDetail{
        padding: 1rem 0 0 0;
    }
    .profileImgContainer{
        display: flex;
        justify-content: start;
        align-items: center;
        .logout123{
            margin-left:2rem;
        }
    }
}
@media (max-width:785px){
    .detail{
        width:10rem;
    }
    .xtasyid{
        padding-left: 2.3rem;
    }
    
}
@media (max-width:586px){
    .detailBox{
        flex-direction: column;
        align-items: center;
        padding: 1rem 0 0 0;
    }
    .profile{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .profileImgContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .logout123{
            margin:0;
            margin-bottom: 2rem;
        }
    }
    .userName{
        text-align: center;
    }
    .xtasyid{
        padding-left: 0;
    }
    .detail{
        margin: 0.28rem;
    }
    .eventHeading{
        text-align: center;
    }
}