@keyframes scroll {
	0% { 
        transform: translateX(0); 
    }
    100% {
        transform: translateX(calc(-10rem))
    }
}
.container-slider{
        background-color: #fffceb;
        position: relative;
        overflow-x: hidden;
        width:auto;
        &::before,
        &::after {
            position: absolute;
            z-index: 2;
        }
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
    
        &::before {
            left: 0;
            top: 0;
        }
        .card-slider {
            animation: scroll 5s linear infinite;
            display: flex;
            width: calc(16rem*14)
        }
        .card-title {
            width: 16em;
        }
    }