.regpage{
    display: flex;
    height: 60rem;
    width: 100%;
    color: #F5EBB5;
    font-family: Reuben;
    .left_section{
        padding-left: 5rem;
        width: 60%;
        background: #1A2D26;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        .head{
            top: 8rem;
            position: absolute;
            z-index: 10;
            font-size: xx-large;
            line-height: 1rem;
            letter-spacing: .5rem;
            h1{
                letter-spacing: .8rem;
                font-size: 100px;
            }
        }
        .subscript{
            font-family: serif;
            color:#7B8382;
            font-size: 20px;
            width: 10rem;
            margin-top: -10rem;
        }
    }
    .right_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        background: #3E6355;
        .r_head{
            width: 28rem;
            font-size: 36px;
            text-align: center;
        }
        .bt_container{
            padding-top: 2rem;
            .submitbtn{
                width: 24.5rem;
                height: 3rem;
                background-color: #EA662F;
                font-size: 20px;
                color: white;
                border: none;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width:1500px) {
    .regpage{
        height: 60rem;
        .left_section{
            width: 52rem;
            .head{
                font-size: large;
                h1{
                    font-size: 65px;
                }
            }
        }
        .right_section{
            margin-top: -5rem;
            width: 45rem;
            .r_head{
                width: 22rem;
                font-size: 28px;
            }
        }
    }
}
@media screen and (max-width:1280px) {
    .regpage{
        height: 55rem;
        .left_section{
            width: 45rem;
            margin-left: -2rem;
            .head{
                font-size: large;
                h1{
                    font-size: 65px;
                }
            }
        }
        .right_section{
            .submitbtn{
                height:3rem;
                border-radius: 12px;
            }
        }
    }
}
@media screen and (max-width:1024px) {
    .regpage{
        height: 55rem;
        .left_section{
            margin-left: -2rem;
            width: 60%;
            .head{
                font-size: large;
                h1{
                    font-size: 65px;
                }
            }
        }
        .right_section{
            margin-top: -5rem;
            width: 30rem;
            align-items: center;justify-content: center;
            .r_head{
                width: 20rem;
                font-size: 25px;
            }
                .submitbtn{
                    width:19.3rem;
                    height:3rem;
                    border-radius: 12px;
                    font-size: 16px;
                }
        }
    }
}
@media screen and (max-width:768px) {
    .regpage{
        height: 55rem;
        .left_section{
            width: 38rem;
            margin-left: -7rem;
            .head{
                font-size: medium;
                padding-left: 4.5rem;
                letter-spacing: .2rem;
                h1{
                    letter-spacing: .2rem;
                    font-size: 58px;
                }
            }
            .subscript{
                font-size: 18px;
                width: 9rem;
                padding-left: 4.5rem;
                margin-top: -10rem;
            }
        }
        .right_section{
            margin-top: -5rem;
            width: 35rem;
            .r_head{
                width: 20rem;
                font-size: 20px;
            }
            .submitbtn{
                width:16.5rem;
                height:3rem;
                border-radius: 12px;
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width:750px) and (min-width:200px) {
    .regpage{
        display: flex;
        justify-content: start;
        margin-top: 5rem;
        height: 50rem;
        .left_section{
            display: none;
        }
        .right_section{
            padding: 0 4rem;
            justify-content: flex-start;
            align-items: center;
            .r_head{
                width: 20rem;
                font-size: 25px;
            }
            .submitbtn{
                width: 24.3rem;
                height:3.2rem;
                border-radius: 10px;
                font-size: 16px;
            }
        }
    }
}